
.icon-activity:before { content: '\e801'; } /* '' */
.icon-filter:before { content: '\e802'; } /* '' */
.icon-graph:before { content: '\e803'; } /* '' */
.icon-coin-mobile:before { content: '\e809'; } /* '' */
.icon-start-mobile:before { content: '\e80a'; } /* '' */
.icon-loyalty:before { content: '\e80b'; } /* '' */
.icon-coin:before { content: '\e80d'; } /* '' */
.icon-start:before { content: '\e80e'; } /* '' */
.icon-loalty:before { content: '\e80f'; } /* '' */
.icon-setting:before { content: '\e810'; } /* '' */
