.Icon {
  display: flex;
  align-items: center;
}

.iconWrapper {
  padding: 2px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 4px;
}

.count {
  font: var(--font-s);
  font-style: italic;
  font-weight: 100;
  color: var(--secondary-light-color);
  margin-right: 8px;
}

.label {
  font: var(--font-m);
  color: var(--primary-color);
}

.violetIcon {
  background-color: var(--violet-bg-color);
}

.lampIcon {
  background-color: var(--green-bg-color);
}

.bookmarkIcon {
  background-color: var(--yellow-bg-color);
}

.targetIcon {
  background-color: var(--red-bg-color);
}

.flashIcon {
  background-color: var(--violet-bg-color);
}
