<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/fontello/fontello.css">
  <link rel="stylesheet" href="styles/index.css">
  <title>FinKit</title>
</head>
<body>
<div class="wrapper">
  <!-- HEADER START -->
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="lang header__lang">
          <div class="lang__item">
            <input
              class="lang__switcher header__ru"
              type="radio"
              name="lang"
              id="lang_ru"
              checked
            >
            <label for="lang_ru">Ru</label>
          </div>
          <div class="lang__item">
            <input
              class="lang__switcher header__en"
              type="radio"
              name="lang"
              id="lang_en"
            >
            <label for="lang_en">En</label>
          </div>

        </div>
        <div class="header__left">
          <h1 class="header__title title">
            Fin <span class="title--accent">Kit</span>
          </h1>
          <p class="header__text">
            Гибкая мобильная платформа для быстрой реализации инвестиционных сервисов.
          </p>
          <button class="button header__button">
            Заказать демо
          </button>
        </div>
        <div class="header__right">
          <picture class="header__img">
            <source
              class="header__img-item"
              media="(min-resolution: 2dppx)"
              srcset="assets/img/header_banner@2x.png"
            >
            <img
              src="assets/img/header_banner.png"
              alt="Мобильное приложение"
              class="header__img-item"
            >
          </picture>
        </div>
      </div>
      <section class="header-cards">
        <ul class="cards card-list">
          <li class="card card-list__item">
            <span class="card__text card-list__text">Удобный пользовательский интерфейс</span>
            <i class="icon-graph card__icon card-list__icon"></i>
          </li>
          <li class="card card-list__item">
            <span class="card__text card-list__text">Панель администратора для ведения учета</span>
            <i class="icon-activity card__icon card-list__icon"></i>
          </li>
          <li class="card card-list__item ">
            <span class="card__text card-list__text"> Простая <br> и быстрая интеграция</span>
            <i class="icon-filter card__icon card-list__icon"></i>
          </li>
          <li class="card card-list__item">
            <span class="card__text card-list__text">Гибкая масштабируемая система</span>
            <i class="icon-setting card__icon card-list__icon"></i>
          </li>
        </ul>
      </section>
    </div>
  </header>
  <!-- HEADER END -->

  <!-- MAIN CONTENT START -->
  <main class="main">
    <!--SECTION PRODUCTS START -->
    <section class="products">
      <div class="container">
        <div class="products__wrapper">
          <h2 class="section-title products__title">Наши <span class="title--accent products__title--accent">ключевые продукты</span> для инвестиций</h2>
          <ul class="products__list products-list">
            <li class="products-list__item products-item">
              <div class="products-item__text">
                <h5 class="products-item__title">
                  Платформа для автоследования
                </h5>
                <p class="products-item__subtitle">
                  Копирование стратегий в автономном режиме
                </p>
              </div>
              <div class="products-item__img">
                <figure>
                  <img
                    src="assets/img/risk1.png"
                    srcset="assets/img/risk1@2x.png 2x"
                    alt="Стратегии"
                    loading="lazy"
                    class="products-item__picture"
                  >
                </figure>
              </div>
            </li>
            <li class="products-list__item products-item">
              <div class="products-item__text">
                <h5 class="products-item__title">
                  Платформа для робо-эдвайзинга
                </h5>
                <p class="products-item__subtitle">
                  Персонализированный подбор стратегий исходя из заданных параметров
                </p>
              </div>
              <div class="products-item__img">
                <figure>
                  <img
                    src="assets/img/risk2.png"
                    srcset="assets/img/risk2@2x.png 2x"
                    alt="Стратегии"
                    loading="lazy"
                    class="products-item__picture"
                  >
                </figure>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!--SECTION PRODUCTS END -->

    <!--SECTION BENEFITS START -->
    <section class="benefits">
      <div class="container">
        <div class="benefits__wrapper">
          <div class="benefits__left">
            <h2 class="section-title benefits__title"><span class="title--accent benefits__title--accent">Представляем ценность</span>
              для брокера и банка
            </h2>
            <p class="benefits__subtitle">
              Мы помогаем броĸерам и банĸам запустить собственное мобильное приложение для инвестиций в ĸоротĸие сроĸи и
              с эĸономией бюджета
            </p>
            <button class="button benefits__button">
              Заказать демо
            </button>
          </div>
          <div class="benefits__right">
            <ul class="cards benefits-cards">
              <li class="card benefits-cards__item">
                <figure class="benefits-cards__image">
                    <img
                      src="assets/icons/coin-mobile.svg"
                      alt="Монеты"
                      class="benefits-cards__icon"
                    >
                </figure>
                <span class="card__text benefits-cards__text">
                  Эĸономим время и деньги на запусĸ digital
                </span>
              </li>
              <li class="card benefits-cards__item">
                <figure class="benefits-cards__image">
                  <img
                    src="assets/icons/person-mobile.svg"
                    alt="Человек"
                    class="benefits-cards__icon"
                  >
                </figure>
                <span class="card__text benefits-cards__text">Создаем канал привлечения новых клиентов</span>
              </li>
              <li class="card benefits-cards__item">
                <figure class="benefits-cards__image">
                  <img
                    src="assets/icons/start-mobile.svg"
                    alt="Старт"
                    class="benefits-cards__icon"
                  >
                </figure>
                <span class="benefits-cards__text">
                  Помогаем увеличить выручку путем запуска нового продукта
                </span>
              </li>
              <li class="card benefits-cards__item">
                <figure class="benefits-cards__image">
                  <img
                    src="assets/icons/loalty-mobile.svg"
                    alt="Лояльность"
                    class="benefits-cards__icon"
                  >
                </figure>
                <span class="card__text benefits-cards__text">
                  Повышаем лояльность действующих клиентов
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--SECTION BENEFITS END -->
  </main>
  <!-- MAIN CONTENT END -->
</div>
</body>
</html>
