/* Navbar styles */
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font: var(--font-l);
}

.button {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  background: none;
  border-radius: 20px;
}
